ul, ol {
    font-size: 24pt;
}

ul {
    list-style: square;
}

li:nth-child(odd) {
    background-color: violet;
}

li:nth-child(even) {
    background-color: yellow;
}

button {
    background-color: green;
    font-size: 24pt;
}