h1 {
    color: rgb(57, 57, 173);
}

.cuadro {
    height: 430px;
    width: 600px;
    border: 1px solid black;

}

h4 {
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;

}

ul {
    font-family: 'Times New Roman', Times, serif;
}

hr {
    width: 97%;
}